mysqldump : mysqldump: [Warning] Using a password on the command line interface can be insecure.
所在位置 行:1 字符: 1
+ mysqldump -u root -p19980315 -h 127.0.0.1 -P 3306 rag_engine kb_knowl ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.28, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: rag_engine
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kb_knowledge_base`
--

DROP TABLE IF EXISTS `kb_knowledge_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kb_knowledge_base` (
  `id` varchar(64) NOT NULL COMMENT '???ID(UUID)',
  `name` varchar(128) NOT NULL COMMENT '?????',
  `description` text COMMENT '?????',
  `category` varchar(64) DEFAULT NULL COMMENT '??',
  `tags` text COMMENT '??(JSON??)',
  `cover_url` varchar(255) DEFAULT NULL COMMENT '??URL',
  `owner_id` bigint DEFAULT NULL COMMENT '?????ID',
  `department` varchar(64) DEFAULT NULL COMMENT '????',
  `is_public` tinyint DEFAULT '1' COMMENT '????: 1-?? 0-??',
  `status` varchar(16) DEFAULT 'ENABLED' COMMENT '??: ENABLED/DISABLED/ARCHIVED',
  `chunk_size` int DEFAULT '300' COMMENT '????',
  `chunk_overlap` int DEFAULT '50' COMMENT '????',
  `embedding_model` varchar(64) DEFAULT 'default' COMMENT 'Embedding??',
  `top_k` int DEFAULT '10' COMMENT '??????',
  `similarity_threshold` double DEFAULT '0.6' COMMENT '?????',
  `vector_weight` double DEFAULT '0.7' COMMENT '??????',
  `bm25_weight` double DEFAULT '0.3' COMMENT 'BM25????',
  `enable_rerank` tinyint DEFAULT '1' COMMENT '??????',
  `filter_low_score` tinyint DEFAULT '0' COMMENT '????????',
  `prompt_template` text COMMENT '?????Prompt??',
  `blacklist_words` text COMMENT '?????(JSON)',
  `whitelist_words` text COMMENT '?????(JSON)',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  `deleted` tinyint DEFAULT '0' COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_owner_id` (`owner_id`),
  KEY `idx_category` (`category`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kb_knowledge_base`
--

LOCK TABLES `kb_knowledge_base` WRITE;
/*!40000 ALTER TABLE `kb_knowledge_base` DISABLE KEYS */;
/*!40000 ALTER TABLE `kb_knowledge_base` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_document`
--

DROP TABLE IF EXISTS `knowledge_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_document` (
  `id` varchar(64) NOT NULL,
  `file_name` varchar(500) NOT NULL,
  `file_type` varchar(50) NOT NULL,
  `file_size` bigint NOT NULL DEFAULT '0',
  `department` varchar(100) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `total_chunks` int NOT NULL DEFAULT '0',
  `total_parent_chunks` int NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL DEFAULT 'processing',
  `summary` text,
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_document`
--

LOCK TABLES `knowledge_document` WRITE;
/*!40000 ALTER TABLE `knowledge_document` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_chunk`
--

DROP TABLE IF EXISTS `knowledge_chunk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_chunk` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_id` varchar(64) NOT NULL,
  `chunk_id` varchar(100) NOT NULL,
  `chunk_index` int NOT NULL DEFAULT '0',
  `content` text NOT NULL,
  `content_length` int NOT NULL DEFAULT '0',
  `parent_chunk_id` varchar(100) NOT NULL,
  `parent_chunk_index` int NOT NULL DEFAULT '0',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2090076196950790152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_chunk`
--

LOCK TABLES `knowledge_chunk` WRITE;
/*!40000 ALTER TABLE `knowledge_chunk` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge_chunk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kb_user_access`
--

DROP TABLE IF EXISTS `kb_user_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kb_user_access` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `kb_id` varchar(64) NOT NULL COMMENT '???ID',
  `user_id` bigint NOT NULL COMMENT '??ID',
  `access_level` varchar(16) NOT NULL DEFAULT 'READ' COMMENT '????: READ/EDIT/ADMIN',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kb_user` (`kb_id`,`user_id`),
  KEY `idx_kb_id` (`kb_id`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kb_user_access`
--

LOCK TABLES `kb_user_access` WRITE;
/*!40000 ALTER TABLE `kb_user_access` DISABLE KEYS */;
INSERT INTO `kb_user_access` VALUES (2,'01ffd114a72e1d8e2231132422ec3140',1,'ADMIN','2026-08-18 17:53:52');
/*!40000 ALTER TABLE `kb_user_access` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-20 12:57:12
